.container {
  --container-width: 45rem;
  --container-padding: 4rem 0 1.6rem;
  --container-margin: 0 0 0 10rem;

  position: relative;
  width: var(--container-width);
  margin: var(--container-margin);
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-bottom: 1rem;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-blue-800);
}

.description {
  margin-bottom: 3.5rem;
  line-height: 25px;
  color: var(--clr-neutral-gray-600);
}

.form {
  flex: 1;
}

.form .name,
.form .email,
.form .phone {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form .name,
.form .email {
  margin-bottom: 2.4rem;
}

.form label {
  margin-bottom: 0.8rem;
  font-size: var(--fs-small);
  color: var(--clr-primary-blue-800);
}

.form input {
  height: 4.8rem;
  padding: 1.6rem;
  border-radius: 8px;
  border: 1px solid var(--clr-neutral-gray-400);
  outline: none;
  transition: border-color 0.3s ease;
}

.form input::placeholder {
  line-height: 25px;
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-gray-600);
}

.form input.hasError {
  border-color: var(--clr-primary-red);
}

.form input:focus {
  border-color: var(--clr-primary-blue-600);
}

.controls {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.error {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-red);
}

/* -------------------------------- Media Queries -------------------------------- */

@media screen and (max-width: 1024px) {
  .container {
    --container-margin: 0 0 0 4rem;
  }
}

@media screen and (max-width: 900px) {
  .container {
    --container-margin: 0 0 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    --container-width: 100%;
    --container-margin: 0;
    --container-padding: 0;
    flex: 1;
  }

  .content {
    position: absolute;
    width: 90%;
    max-width: 42rem;
    top: -8.5rem;
    align-self: center;
    padding: 3.2rem 2.4rem;
    border-radius: 10px;
    background-color: var(--clr-neutral-white);
  }

  .title {
    font-size: var(--fs-large);
  }

  .description {
    margin-bottom: 2.2rem;
  }

  .form .name,
  .form .email {
    margin-bottom: 1.6rem;
  }

  .controls {
    position: absolute;
    bottom: 0;
    padding: 1.6rem 3.2rem;
    background-color: var(--clr-neutral-white);
  }
}
