.container {
  margin-left: 10rem;
  padding: 4rem 0 1.6rem 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 900px) {
  .container {
    margin-left: 2.5rem;
    padding: 4rem 1rem 1.6rem 1rem;
  }
}

.title {
  margin-bottom: 1rem;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-blue-800);
}

.description {
  line-height: 2.5rem;
  color: var(--clr-neutral-gray-600);
}

.form {
  flex: 1;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
}

.form_name,
.form_email,
.form_phone {
  position: relative;
  margin-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 0.8rem;
  font-size: var(--fs-small);
  color: var(--clr-primary-blue-800);
}

.form input {
  height: 4.8rem;
  padding: 1.6rem;
  border-radius: 8px;
  border: 1px solid var(--clr-neutral-gray-400);
  outline: none;
}

.form input::placeholder {
  line-height: 2.5rem;
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-gray-600);
}

.form input.hasError {
  border-color: var(--clr-primary-red);
}

.form input:focus {
  border-color: var(--clr-primary-blue-600);
}

.next_btn {
  align-self: flex-end;
  padding: 1.5rem 2.4rem;
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-white);
  background-color: var(--clr-primary-blue-800);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.next_btn:hover {
  background-color: #164a8a;
}

.error_message {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-red);
}
