div.container {
  --container-width: 45rem;
  --container-height: auto;
  --container-padding: 4rem 0 1.6rem;
  --container-margin: 0 0 0 10rem;

  width: var(--container-width);
  height: var(--container-height);
  margin: var(--container-margin);
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1.title {
  margin-bottom: 1rem;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-blue-800);
}

p.description {
  margin-bottom: 3.5rem;
  line-height: 25px;
  color: var(--clr-neutral-gray-600);
}

.form div.name,
.form div.email,
.form div.phone {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form div.name,
.form div.email {
  margin-bottom: 2.4rem;
}

.form label {
  margin-bottom: 0.8rem;
  font-size: var(--fs-small);
  color: var(--clr-primary-blue-800);
}

.form input {
  height: 4.8rem;
  padding: 1.6rem;
  border-radius: 8px;
  border: 1px solid var(--clr-neutral-gray-400);
  font-weight: var(--fw-medium);
  color: var(--clr-primary-blue-800);
  outline: none;
  transition: border-color 0.3s ease;
}

.form input::placeholder {
  line-height: 25px;
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-gray-600);
}

.form input.hasError {
  border-color: var(--clr-primary-red);
}

.form input:focus {
  border-color: var(--clr-primary-blue-600);
}

div.controls {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

span.error {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-red);
}

/* -------------------------------- Media Queries -------------------------------- */

@media screen and (max-width: 1024px) {
  div.container {
    --container-margin: 0 0 0 7.5rem;
  }
}

@media screen and (max-width: 950px) {
  div.container {
    --container-margin: 0 0 0 5rem;
  }
}

@media screen and (max-width: 768px) {
  div.container {
    --container-width: 100%;
    --container-height: calc(100vh - 15rem);
    --container-margin: 0;
    --container-padding: 0;
  }

  div.content {
    min-height: 42rem;
    max-width: 40rem;
    width: 90%;
    margin: -8.5rem 2rem 0;
    padding: 3.2rem 2.4rem;
    align-self: center;
    border-radius: 10px;
    background-color: var(--clr-neutral-white);
  }

  h1.title {
    font-size: var(--fs-large);
  }

  p.description {
    margin-bottom: 2.2rem;
  }

  .form div.name,
  .form div.email {
    margin-bottom: 1.6rem;
  }

  div.controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.6rem 3.2rem;
    background-color: var(--clr-neutral-white);
  }
}

@media screen and (max-width: 480px) {
  div.controls {
    padding: 1.6rem;
  }

  span.error {
    top: 0.15rem;
    font-size: var(--fs-xsmall);
  }
}
