.container {
  --container-width: 45rem;
  --container-padding: 4rem 0 1.6rem;
  --container-margin: 0 0 0 10rem;

  position: relative;
  width: var(--container-width);
  margin: var(--container-margin);
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-bottom: 1rem;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-blue-800);
}

.description {
  margin-bottom: 3.5rem;
  line-height: 25px;
  color: var(--clr-neutral-gray-600);
}

.form {
  flex: 1;
}

.addon {
  height: 8rem;
  margin-bottom: 1.6rem;
  padding: 1.8rem 2.4rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--clr-neutral-gray-400);
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.addon.active {
  border-color: var(--clr-primary-blue-600);
  background-color: var(--clr-neutral-alabaster);
}

.addon:hover {
  border-color: var(--clr-primary-blue-600);
}

.addon .checkbox {
  position: relative;
  cursor: pointer;
}

/* hide checkbox input */
.addon .checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.addon .checkbox .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  background: transparent;
  border-radius: 4px;
  border: 1px solid var(--clr-neutral-gray-400);
}

.addon .checkbox input:checked ~ .checkmark {
  background-color: var(--clr-primary-blue-600);
  border: none;
}

.addon .checkbox .checkmark:after {
  content: "";
  position: absolute;
  left: 0.7rem;
  top: 0.4rem;
  width: 0.5rem;
  height: 1rem;
  display: none;
  border: solid var(--clr-neutral-white);
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}

.addon .checkbox input:checked ~ .checkmark:after {
  display: block;
}

.addon .info {
  margin-left: 2.4rem;
}

.addon .info h3 {
  font-size: var(--fs-base);
  color: var(--clr-primary-blue-800);
  font-weight: var(--fw-medium);
}

.addon .info p {
  line-height: 2rem;
  font-size: var(--fs-small);
  color: var(--clr-neutral-gray-600);
}

.addon .price {
  margin-left: auto;
  line-height: 20px;
  font-size: var(--fs-small);
  color: var(--clr-primary-blue-600);
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .container {
    --container-margin: 0 0 0 4rem;
  }
}

@media screen and (max-width: 900px) {
  .container {
    --container-margin: 0 0 0 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    --container-width: 100%;
    --container-margin: 0;
    --container-padding: 0;

    flex: 1;
  }

  .content {
    position: absolute;
    width: 90%;
    max-width: 42rem;
    top: -8.5rem;
    align-self: center;
    padding: 3.2rem 2.4rem;
    border-radius: 10px;
    background-color: var(--clr-neutral-white);
  }

  .title {
    font-size: var(--fs-large);
  }

  .description {
    margin-bottom: 2.2rem;
  }

  .addon .info {
    margin-left: 1.6rem;
  }

  .addon .info h3 {
    font-size: var(--fs-small);
  }

  .addon .info p,
  .addon .price {
    font-size: var(--fs-xsmall);
  }

  .controls {
    position: absolute;
    bottom: 0;
    padding: 1.6rem 3.2rem;
    background-color: var(--clr-neutral-white);
  }
}
