div.container {
  --container-width: 45rem;
  --container-height: auto;
  --container-padding: 4rem 0 1.6rem;
  --container-margin: 0 0 0 10rem;

  width: var(--container-width);
  height: var(--container-height);
  margin: var(--container-margin);
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1.title {
  margin-bottom: 1rem;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-blue-800);
}

p.description {
  margin-bottom: 3.5rem;
  line-height: 25px;
  color: var(--clr-neutral-gray-600);
}

div.addon {
  height: 8rem;
  width: 100%;
  margin-bottom: 1.6rem;
  padding: 1.8rem 2.4rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--clr-neutral-gray-400);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

div.addon.active {
  border-color: var(--clr-primary-blue-600);
  background-color: var(--clr-neutral-alabaster);
}

div.addon:hover {
  border-color: var(--clr-primary-blue-600);
}

div.addon .checkbox {
  position: relative;
  cursor: pointer;
}

/* hide checkbox input */
div.addon .checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

div.addon .checkbox .checkmark {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  background: transparent;
  border-radius: 4px;
  border: 1px solid var(--clr-neutral-gray-400);
}

div.addon .checkbox input:checked ~ .checkmark {
  background-color: var(--clr-primary-blue-600);
  border: none;
}

div.addon .checkbox .checkmark:after {
  content: "";
  position: absolute;
  left: 0.7rem;
  top: 0.4rem;
  width: 0.5rem;
  height: 1rem;
  display: none;
  border: solid var(--clr-neutral-white);
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}

div.addon .checkbox input:checked ~ .checkmark:after {
  display: block;
}

div.addon div.info {
  margin-left: 2.4rem;
}

div.addon div.info h3 {
  text-align: start;
  font-size: var(--fs-base);
  color: var(--clr-primary-blue-800);
  font-weight: var(--fw-medium);
}

div.addon div.info p {
  line-height: 2rem;
  font-size: var(--fs-small);
  color: var(--clr-neutral-gray-600);
}

div.addon p.price {
  margin-left: auto;
  line-height: 20px;
  font-size: var(--fs-small);
  color: var(--clr-primary-blue-600);
}

div.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  div.container {
    --container-margin: 0 0 0 7.5rem;
  }
}

@media screen and (max-width: 950px) {
  div.container {
    --container-margin: 0 0 0 5rem;
  }
}

@media screen and (max-width: 768px) {
  div.container {
    --container-width: 100%;
    --container-height: calc(100vh - 15rem - 8.5rem);
    --container-margin: 0;
    --container-padding: 0;
  }

  div.content {
    min-height: 42rem;
    max-width: 40rem;
    width: 90%;
    margin: -8.5rem 2rem 0;
    padding: 3.2rem 2.4rem;
    align-self: center;
    border-radius: 10px;
    background-color: var(--clr-neutral-white);
  }

  h1.title {
    font-size: var(--fs-large);
  }

  p.description {
    margin-bottom: 2.2rem;
  }

  div.addon div.info {
    margin-left: 1.6rem;
  }

  div.addon div.info h3 {
    font-size: var(--fs-small);
  }

  div.addon div.info p,
  div.addon p.price {
    font-size: var(--fs-xsmall);
  }

  div.controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.6rem 3.2rem;
    background-color: var(--clr-neutral-white);
  }
}

@media screen and (max-width: 480px) {
  div.controls {
    padding: 1.6rem;
  }
}
