.btn {
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-gray-600);
  cursor: pointer;
  background: none;
  border: none;
  transition: all 0.3s;
}

.btn:hover {
  color: var(--clr-primary-blue-800);
}
