:root {
  --clr-primary-blue-800: hsl(213, 96%, 18%);
  --clr-primary-blue-600: hsl(243, 100%, 62%);
  --clr-primary-blue-400: hsl(228, 100%, 84%);
  --clr-primary-blue-200: hsl(206, 94%, 87%);
  --clr-primary-red: hsl(354, 84%, 57%);

  --clr-neutral-gray-600: hsl(231, 11%, 63%);
  --clr-neutral-gray-400: hsl(229, 24%, 87%);
  --clr-neutral-magnolia: hsl(217, 100%, 97%);
  --clr-neutral-alabaster: hsl(231, 100%, 99%);
  --clr-neutral-white: hsl(0, 0%, 100%);

  --fs-xsmall: 1.2rem;
  --fs-small: 1.4rem;
  --fs-base: 1.6rem;
  --fs-medium: 1.8rem;
  --fs-large: 2.4rem;
  --fs-xlarge: 3.2rem;
  --fs-xxlarge: 4.8rem;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}
