div.container {
  --container-width: 45rem;
  --container-height: auto;
  --container-padding: 4rem 0 1.6rem;
  --container-margin: 0 0 0 10rem;

  width: var(--container-width);
  height: var(--container-height);
  margin: var(--container-margin);
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1.title {
  margin-bottom: 1rem;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-blue-800);
}

p.description {
  margin-bottom: 3.5rem;
  line-height: 25px;
  color: var(--clr-neutral-gray-600);
}

div.recap {
  margin-bottom: 2.4rem;
  padding: 1.6rem 2.4rem;
  border-radius: 8px;
  background-color: var(--clr-neutral-alabaster);
}

div.recap div.plan {
  padding-bottom: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--clr-neutral-gray-400);
}

div.recap div.plan p.label {
  margin-bottom: 1rem;
  font-weight: var(--fw-medium);
  color: var(--clr-primary-blue-800);
}

div.recap div.plan button.changeBtn {
  text-decoration: underline;
  font-size: var(--fs-small);
  color: var(--clr-neutral-gray-600);
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

div.recap div.plan button.changeBtn:hover {
  color: var(--clr-primary-blue-600);
}

div.recap div.plan p.price {
  font-weight: var(--fw-bold);
  color: var(--clr-primary-blue-800);
}

div.recap div.addons,
div.recap div.noAddons {
  margin-top: 1.6rem;
}

div.recap div.noAddons {
  font-size: var(--fs-small);
  color: var(--clr-neutral-gray-600);
}

div.recap div.addons div.addon {
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.recap div.addons div.addon:last-of-type {
  margin-bottom: 0;
}

div.recap div.addons div.addon span:first-of-type {
  font-size: var(--fs-small);
  color: var(--clr-neutral-gray-600);
}

div.recap div.addons div.addon span:last-of-type {
  font-size: var(--fs-small);
  color: var(--clr-primary-blue-800);
}

div.total {
  padding: 0 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.total span:first-of-type {
  font-size: var(--fs-small);
  color: var(--clr-neutral-gray-600);
}

div.total span:last-of-type {
  font-size: 2rem;
  font-weight: var(--fw-bold);
  color: var(--clr-primary-blue-600);
}

div.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  div.container {
    --container-margin: 0 0 0 7.5rem;
  }
}

@media screen and (max-width: 950px) {
  div.container {
    --container-margin: 0 0 0 5rem;
  }
}

@media screen and (max-width: 768px) {
  div.container {
    --container-width: 100%;
    --container-height: calc(100vh - 15rem - 8.5rem);
    --container-margin: 0;
    --container-padding: 0;
  }

  div.content {
    min-height: 42rem;
    max-width: 40rem;
    width: 90%;
    margin: -8.5rem 2rem 0;
    padding: 3.2rem 2.4rem;
    align-self: center;
    border-radius: 10px;
    background-color: var(--clr-neutral-white);
  }

  h1.title {
    font-size: var(--fs-large);
  }

  p.description {
    margin-bottom: 2.2rem;
  }

  div.recap div.plan p.price {
    font-size: var(--fs-small);
  }

  div.total span:last-of-type {
    font-size: var(--fs-base);
  }

  div.controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.6rem 3.2rem;
    background-color: var(--clr-neutral-white);
  }
}

@media screen and (max-width: 480px) {
  div.controls {
    padding: 1.6rem;
  }
}
