.container {
  width: 27.4rem;
  padding: 4rem 3.2rem;
  border-radius: 8px;
  background-color: transparent;
  background-image: url("./../../assets/images/bg-sidebar-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: uppercase;
  color: var(--clr-neutral-white);
}

@media screen and (max-width: 900px) {
  .container {
    width: 22.4rem;
    padding: 4rem 2.6rem;
  }
}

.step {
  margin-bottom: 3.2rem;
  display: flex;
  align-items: center;
}

.step_number {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  border-radius: 50%;
  border: 1px solid var(--clr-neutral-white);
}

.step.active .step_number {
  background-color: var(--clr-primary-blue-200);
  color: var(--clr-primary-blue-800);
}

.step_info {
  margin-left: 1.6rem;
  display: flex;
  flex-direction: column;
}

.step_info span:first-of-type {
  font-size: var(--fs-xsmall);
  color: var(--clr-primary-blue-400);
}

.step_info span:last-of-type {
  letter-spacing: 1px;
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
}
