.container {
  --container-width: 27.4rem;
  --container-padding: 4rem 3.2rem;

  max-width: var(--container-width);
  width: min(100%, var(--container-width));
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  border-radius: 8px;
  background: url("./../../assets/images/bg-sidebar-desktop.svg") no-repeat center/cover;
}

@media screen and (max-width: 900px) {
  .container {
    --container-width: 23.4rem;
    --container-padding: 4rem 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    --container-width: 100%;

    height: 20rem; /* !!! */
    flex-direction: row;
    justify-content: center;
    border-radius: 0;
    background: url("./../../assets/images/bg-sidebar-mobile.svg") no-repeat center/cover;
  }
}

@media screen and (max-width: 480px) {
  .container {
    gap: 2rem;
  }
}

.step {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .step {
    display: block;
  }
}

.step .number {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-white);
  border-radius: 50%;
  border: 1px solid var(--clr-neutral-white);
}

.step.active .number {
  color: var(--clr-primary-blue-800);
  background-color: var(--clr-primary-blue-200);
}

.step .info {
  margin-left: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .step .info {
    display: none;
  }
}

.step .info span:first-of-type {
  font-size: var(--fs-xsmall);
  color: var(--clr-primary-blue-400);
}

.step .info span:last-of-type {
  letter-spacing: 1px;
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-white);
}
