.btn {
  width: 12.5rem;
  padding: 1.5rem 2.4rem;
  font-weight: var(--fw-medium);
  color: var(--clr-neutral-white);
  background-color: var(--clr-primary-blue-600);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  opacity: 0.9;
}
