.step2 {
  flex: 1;
  height: 100%;
  padding: 4rem 0 1.6rem 0;
  margin-left: 10rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .step2 {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 900px) {
  .step2 {
    margin-left: 2.5rem;
  }
}

.step2 h1 {
  margin-bottom: 1rem;
  color: var(--clr-primary-blue-800);
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
}

.step2 p:first-of-type {
  line-height: 2.5rem;
  color: var(--clr-neutral-gray-600);
}

.step2__form {
  flex: 1;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.step2__form__plans {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 13.8rem));
  gap: 1.8rem;
}

.step2__form__plan {
  height: 16rem;
  padding: 2rem 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid var(--clr-neutral-gray-400);
}

.step2__form__plan--active {
  border-color: var(--clr-primary-blue-600);
  background-color: var(--clr-neutral-alabaster);
}

.step2__form__plan img {
  width: 4rem;
  height: 4rem;
}

/* hide radio input */
.step2__form__plan input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.step2__form__plan__info {
  display: flex;
  flex-direction: column;
}

.step2__form__plan__info span:first-of-type {
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  color: var(--clr-primary-blue-800);
}

.step2__form__plan__info span:last-of-type {
  font-size: var(--fs-small);
  color: var(--clr-neutral-gray-600);
}
