.container {
  width: 45rem;
  margin-left: 10rem;
  padding: 4rem 0 1.6rem 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .container {
    margin-left: 8rem;
  }
}

@media screen and (max-width: 900px) {
  .container {
    margin-left: 4rem;
  }
}

.title {
  margin-bottom: 1rem;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-blue-800);
}

.description {
  margin-bottom: 3.5rem;
  line-height: 25px;
  color: var(--clr-neutral-gray-600);
}

.form {
  flex: 1;
}

.plansWrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(10rem, 13.8rem));
  gap: 1.8rem;
}

.plan {
  height: 16rem;
  padding: 2rem 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid var(--clr-neutral-gray-400);
  cursor: pointer;
  transition: all 0.15s;
}

.plan.active {
  background-color: var(--clr-neutral-alabaster);
  border-color: var(--clr-primary-blue-600);
}

.plan:hover {
  border-color: var(--clr-primary-blue-600);
}

.plan img {
  width: 4rem;
  height: 4rem;
}

/* hide radio and checkbox input */
.plan input,
.switch input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.plan .info {
  display: flex;
  flex-direction: column;
}

.plan .info span:first-of-type {
  margin-bottom: 0.7rem;
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  color: var(--clr-primary-blue-800);
}

.plan .info span:nth-of-type(2) {
  margin-bottom: 0.7rem;
  font-size: var(--fs-small);
  color: var(--clr-neutral-gray-600);
}

.plan .info span:nth-of-type(3) {
  font-size: var(--fs-xsmall);
  color: var(--clr-primary-blue-800);
}

.billing {
  height: 4.8rem;
  margin-top: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--clr-neutral-alabaster);
}

.label {
  font-size: var(--fs-small);
  color: var(--clr-neutral-gray-600);
  font-weight: var(--fw-bold);
  transition: all 0.3s;
}

.label.active {
  color: var(--clr-primary-blue-800);
}

.switch {
  margin: 0 2.4rem;
  position: relative;
  width: 3.8rem;
  height: 2rem;
}

.switch .slider {
  position: absolute;
  inset: 0;
  background-color: var(--clr-primary-blue-800);
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  right: 0.3rem;
  bottom: 0.3rem;
  transform: translateX(150%);
  background-color: var(--clr-neutral-white);
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.switch .slider:after {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  left: 0.3rem;
  bottom: 0.3rem;
  background-color: var(--clr-neutral-white);
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px var(--clr-neutral-gray-800);
}

.switch input:checked + .slider:before {
  transform: translateY(0);
}

.switch input:checked + .slider:after {
  transform: translateX(-150%);
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
