div.container {
  --container-width: 45rem;
  --container-height: auto;
  --container-padding: 4rem 0 1.6rem;
  --container-margin: 0 0 0 10rem;

  width: var(--container-width);
  height: var(--container-height);
  margin: var(--container-margin);
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1.title {
  margin-bottom: 1rem;
  font-size: var(--fs-xlarge);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-blue-800);
}

p.description {
  margin-bottom: 3.5rem;
  line-height: 25px;
  color: var(--clr-neutral-gray-600);
}

div.plans {
  margin-bottom: 3.2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(11.5rem, 13.8rem));
  gap: 1.8rem;
}

div.plans label.plan {
  height: 16rem;
  padding: 2rem 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid var(--clr-neutral-gray-400);
  cursor: pointer;
  transition: all 0.3s ease;
}

div.plans label.plan.active {
  background-color: var(--clr-neutral-alabaster);
  border-color: var(--clr-primary-blue-600);
}

div.plans label.plan:hover {
  border-color: var(--clr-primary-blue-600);
}

div.plans label.plan img {
  width: 4rem;
  height: 4rem;
}

/* hide radio and checkbox input */
div.plans label.plan input,
.switch input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

div.plans label.plan div.info {
  display: flex;
  flex-direction: column;
}

div.plans label.plan div.info span:first-of-type {
  margin-bottom: 0.5rem;
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  color: var(--clr-primary-blue-800);
}

div.plans label.plan div.info span:nth-of-type(2) {
  font-size: var(--fs-small);
  color: var(--clr-neutral-gray-600);
}

div.plans label.plan div.info span:nth-of-type(3) {
  margin-top: 0.5rem;
  font-size: var(--fs-xsmall);
  color: var(--clr-primary-blue-800);
}

div.billing {
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--clr-neutral-alabaster);
}

div.billing span.label {
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-gray-600);
  transition: all 0.3s ease;
}

div.billing span.label.active {
  color: var(--clr-primary-blue-800);
}

div.billing label.switch {
  margin: 0 2.4rem;
  position: relative;
  width: 3.8rem;
  height: 2rem;
}

label.switch span.slider {
  position: absolute;
  inset: 0;
  background-color: var(--clr-primary-blue-800);
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

label.switch span.slider:before {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  right: 0.3rem;
  bottom: 0.3rem;
  transform: translateX(150%);
  background-color: var(--clr-neutral-white);
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

label.switch span.slider:after {
  position: absolute;
  content: "";
  height: 1.4rem;
  width: 1.4rem;
  left: 0.3rem;
  bottom: 0.3rem;
  background-color: var(--clr-neutral-white);
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

label.switch input:focus + span.slider {
  box-shadow: 0 0 1px var(--clr-neutral-gray-800);
}

label.switch input:checked + span.slider:before {
  transform: translateY(0);
}

label.switch input:checked + span.slider:after {
  transform: translateX(-150%);
}

div.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -------------------------------- Media Queries -------------------------------- */

@media screen and (max-width: 1024px) {
  div.container {
    --container-margin: 0 0 0 7.5rem;
  }
}

@media screen and (max-width: 950px) {
  div.container {
    --container-margin: 0 0 0 5rem;
  }
}

@media screen and (max-width: 768px) {
  div.container {
    --container-width: 100%;
    --container-margin: 0;
    --container-padding: 0;
  }

  div.content {
    min-height: 42rem;
    max-width: 40rem;
    width: 90%;
    margin: -8.5rem 2rem 0;
    padding: 3.2rem 2.4rem;
    align-self: center;
    border-radius: 10px;
    background-color: var(--clr-neutral-white);
  }

  h1.title {
    font-size: var(--fs-large);
  }

  p.description {
    margin-bottom: 2.2rem;
  }

  div.plans {
    margin-bottom: 2.4rem;
    grid-template-columns: 1fr;
    gap: 1.2rem;
  }

  div.plans label.plan {
    max-height: 10rem;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  div.plans label.plan img {
    margin-right: 1.4rem;
  }

  div.controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.6rem 3.2rem;
    background-color: var(--clr-neutral-white);
  }
}

@media screen and (max-height: 700px) {
  div.yearlyContainer {
    padding-bottom: 9rem;
  }
}

@media screen and (max-width: 480px) {
  div.controls {
    padding: 1.6rem;
  }
}
