main {
  width: 90vw;
  max-width: 94rem;
  min-height: 60rem;
  padding: 1.6rem;
  display: flex;
  border-radius: 15px;
  background-color: var(--clr-neutral-white);
}

@media screen and (max-width: 950px) {
  main {
    min-height: 55rem;
  }
}

@media screen and (max-width: 768px) {
  main {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    padding: 0;
    flex-direction: column;
    border-radius: 0;
    background-color: transparent;
  }
}
